{% extends 'AgentGestionnaire.html.twig' %}

{% block body %}
    <center><h1 style="color: #ffffff">Matriel edit</h1></center>
    <br><br><br>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form.Type,{'attr':{'type':'text','class':'form-control','placeholder':'Type...'}}) }}
    <br> <br> <br>
    {{ form_widget(edit_form.Reference,{'attr':{'type':'text','class':'form-control','placeholder':'Reference...'}}) }}
    <br> <br> <br>
    {{ form_widget(edit_form.photo) }}
    <br> <br> <br>
        <br>
      <table class="table">
          <tr>
              <td><input type="submit" value="Edit" class="btn btn-primary" /></td>

          </tr>

      </table>

    {{ form_end(edit_form) }}
    <br>
    <br>
    <table>
        <tr>
            <td> {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
                {{ form_end(delete_form) }}</td>
            <td><a href="{{ path('matriel_index') }}" class="btn btn-default">Back to the list</a></td>
        </tr>
    </table>



{% endblock %}
