{% extends 'AgentGestionnaire.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row top-margin">
            <div class="col-xs-offset-2 col-xs-8">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search By reference" title="Type in a name" class="form-control">

            </div>

        </div>
        <div class="count" style="color: #9e9d24;font-size: 2rem; margin-top: 1rem;">
           Nombre total d'achat : {{ pagination.getTotalItemCount }}
        </div>

            <h3 style="color: white;">List des achats</h3>
            <table class="table table-hover table-bordered" id="dataTables-example">
                <th style="color: white;">Reference</th>
                <th style="color: white;">Date</th>
                <th style="color: white;">Client</th>
                <th style="color: white;">PDF</th>




                {% for a in pagination %}
                    <tr id="tr">
                        <td style="color: white;">{{ a.clientType }}</td>
                        <td style="color: white;">{{ a.date|date }}</td>
                        <td style="color: white;">{{ a.clientAddress }}</td>
                        <td><a href="{{ path('pdf_generate_achat',{'id':a.id}) }}" class="btn btn-success"><i class="fa fa-download"></i></a></td>



                    </tr>
                {% endfor %}
            </table>
            <br>
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(piechart) }}
        {{ chart(chart) }}

    </script>

    <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto ; margin-bottom: 1rem;"></div>
    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    <script>
        function myFunction() {
            console.log("trr");
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTables-example");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

{% endblock %}
